@use "../global" as global;
@use "../global/shortcut-functions" as f;

.test {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  z-index: 11;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: none;
  width: 100%;
  min-width: none;
  max-width: none;
  height: auto;
  min-height: auto;
  max-height: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  border: none;
  border-radius: none;
  background: linear-gradient(to right, #ff6f00 50%, #009688 50%);
  font-size: 15px;
  font-weight: 900;
  line-height: normal;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: normal;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transition: all;
  @include global.mq(sp) {
    margin: f.sp((20 auto));
    font-size: f.sp(24);
  }
  @include global.hover {
    background-color: #fff;
    color: #000;
  }
}
